<div class="jumbotron text-center text-custom-color-darkbrown">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Not an ordinary BlogApp . Try it !!!</p>
    <a href="/blogs/add" class="btn btn-dark btn-lg">Add Blog</a>
    <a href="/blogs/allblogs" class="btn btn-dark btn-lg">View Blogs</a>
</div>